[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-bcrypt = "*"
flask-cors = "*"
flask-restful = "*"
certifi = "*"
pymongo = "*"
dnspython = "*"
sendgrid = "*"
requests = "*"
twilio = "*"
gunicorn = "*"
psycopg2-binary = "*"
google-cloud-datastore = "*"

[requires]
python_version = "3.8"
